/* HOMEPAGE */

#hexagon1{
  width: 250px; /* Pour width: +50 = height +12,5  */
  height: 237.5px; /* Pour width: +100 = height +25 */
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: rgb(23, 70, 145);
  opacity: 0.65;

  position: absolute;
  z-index: 3;
  transform: translate(-15px, 30px);
}

#hexagon2{
  width: 250px;
  height: 237.5px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: rgb(3, 175, 168);
  opacity: 0.65;

  position: relative;
  z-index: 4;
}

#hexagon1-title{
  position: relative;
  z-index: 5;
  transform: translate(35px, -140px);
}





/*  OTHER PAGE  */


#hexagon3-1 {
float: left;
border-right: 35px solid #03AFA8;
border-top: 67px solid transparent;
border-bottom: 67px solid transparent;
  opacity: 0.2;
}

#hexagon3-2 {
float: left;
width: 85px;
height: 134px;
background-color: #03AFA8;
  opacity: 0.2;
}

#hexagon3-3 {
float: left;
border-left: 35px solid #03AFA8;
border-top: 67px solid transparent;
border-bottom: 67px solid transparent;
  opacity: 0.2;
}


.hexagone4 {
  transform: translate(-152.5px, 2px);
}

#hexagon4-1 {
float: left;
border-right: 33.5px solid white;
border-top: 65px solid transparent;
border-bottom: 65px solid transparent;
}

#hexagon4-2 {
float: left;
width: 83px;
height: 130px;
background-color: white;
}

#hexagon4-3 {
float: left;
border-left: 33px solid white;
border-top: 65px solid transparent;
border-bottom: 65px solid transparent;
}

#hexagon3-title{
  position: relative;
  z-index: 5;
  transform: translate(-220px, 50px);
}