/* HOMEPAGE */

.hexagonHome1{
  width: 250px; /* Pour width: +50 = height +12,5  */
  height: 272.5px; /* Pour width: +100 = height +25 */
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-image: url("Assets/gendarme.jpg");
  background-size: 100% 100%;

  opacity: 0.95;
  
  position: absolute;
  z-index: 40;
  transform: translate(-15px, 30px);
}



#hexagonHome2{
  width: 250px;
  height: 272.5px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: rgb(3, 175, 168);
    opacity: 0.65;

  position: relative;
  z-index: 40;
}

#hexagonHome1-title{
  position: relative;
  z-index: 5;
  transform: translate(30px, -155px);
}

.hexagonHome3{
  width: 196px;
  height: 221px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: white;/*
  padding: 20px;*/
  position: absolute;
  z-index: 4;
  transform: translate(2px, 2px);
}

.hexagonHome4{
  width: 200px;
  height: 225px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: #03AFA8;

  position: absolute;
  z-index: 3;
}

#hexagonHome5{
  width: 200px;
  height: 225px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: #BEBEBE;

  position: absolute;
  z-index: 2;
  transform: translate(-8px, 18px);
}

#hexagonHome6{
  width: 200px;
  height: 225px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: #EFEFEF;

  position: absolute;
  z-index: 2;
  transform: translate(1px, 20px);
}

#hexagonHome7{
  width: 200px;
  height: 225px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: #BEBEBE;

  position: relative;
  z-index: 2;
  transform: translate(8px, 18px);
}
















/*  PROJECT PAGE  */


#hexagonProject1{
  width: 144px;
  height: 166.5px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: rgb(255, 255, 255);
  transform: rotate(90deg) translate(3px, -3px);

  position: absolute;
  z-index: 4;
}

#hexagonProject1-1{
  width: 150px;
  height: 172.5px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: rgb(3, 175, 168);
  transform: rotate(90deg);

  position: relative;
  opacity: 0.2;
  z-index: 3;
}

#hexagonProject1-title{
  position: relative;
  z-index: 5;
  transform: translate(80px, -90px);
}



#hexagonProject2{
  width: 400px;
  height: 475px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: rgb(3, 175, 168);
  transform: rotate(90deg);

  position: relative;
  opacity: 0.5;
  z-index: 3;
}

#hexagonProject2-1{
  width: 400px;
  height: 475px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: rgb(23, 70, 145);
  transform: rotate(90deg);

  position: absolute;
  opacity: 1;
  z-index: 3;
}



#hexagonProject3{
  width: 300px;
  height: 325.5px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: rgb(3, 175, 168);
  opacity: 1;

  position: absolute;
  z-index: 20;
}

#hexagonProject3-1{
  width: 292px;
  height: 317.5px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: white;
  opacity: 1;

  position: absolute;
  z-index: 20;
  transform: translate(4px, 4px);
}

#hexagonProject3-title{
  position: absolute;
  z-index: 20;
  transform: translate(55px, 100px);
}

#hexagonProject3-parag{
  position: absolute;
  z-index: 20;
  transform: translate(45px, 150px);
}

#hexagonProject4{
  width: 300px;
  height: 325.5px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: rgb(3, 175, 168);
  opacity: 1;

  position: absolute;
  z-index: 20;
}

#hexagonProject4-1{
  width: 292px;
  height: 317.5px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: white;
  opacity: 1;

  position: absolute;
  z-index: 20;
  transform: translate(4px, 4px);
}

#hexagonProject4-title{
  position: absolute;
  z-index: 20;
  transform: translate(30px, 100px);
}

#hexagonProject4-parag{
  position: absolute;
  z-index: 20;
  transform: translate(40px, 150px);
}



#hexagonProject5{
  width: 300px;
  height: 325.5px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: rgb(3, 175, 168);
  opacity: 1;

  position: absolute;
  z-index: 20;
}

#hexagonProject5-1{
  width: 292px;
  height: 317.5px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: white;
  opacity: 1;

  position: absolute;
  z-index: 20;
  transform: translate(4px, 4px);
}

#hexagonProject5-title{
  position: absolute;
  z-index: 20;
  transform: translate(45px, 100px);
}

#hexagonProject5-parag{
  position: absolute;
  z-index: 20;
  transform: translate(45px, 160px);
}




#hexagonProject6{
  width: 225px;
  height: 250px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-image: url('Assets/Marlene.jpg');
  background-size: auto 100%;

  position: absolute;
  z-index: 5;
}

#hexagonProject7{
  width: 225px;
  height: 250px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-image: url('Assets/Jerome.png');
  background-position: center;
  background-size: auto 100%;

  position: relative;
  float: right;
  z-index: 5;
}

#hexagonProject8{
  width: 225px;
  height: 250px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-image: url('Assets/JeanChristophe.jpg');
  background-size: auto 100%;

  position: absolute;
  z-index: 5;
}



#hexagonProject9{
  width: 216px;
  height: 246px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: rgb(255, 255, 255);
  transform: rotate(90deg);

  position: absolute;
  z-index: 15;
}

#hexagonProject9-1{
  width: 220px;
  height: 250px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: #456BA7;
  transform: rotate(90deg) translate(4px, -4px);

  position: relative;
  opacity: 0.2;
  z-index: 14;
}

#hexagonProject10{
  width: 216px;
  height: 246px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: rgb(255, 255, 255);
  transform: rotate(90deg);

  position: absolute;
  z-index: 15;
}

#hexagonProject10-1{
  width: 220px;
  height: 250px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: #456BA7;
  transform: rotate(90deg) translate(4px, -0px);

  position: relative;
  opacity: 0.2;
  z-index: 14;
}

#hexagonProject11{
  width: 216px;
  height: 246px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: rgb(255, 255, 255);
  transform: rotate(90deg);

  position: absolute;
  z-index: 15;
}

#hexagonProject11-1{
  width: 220px;
  height: 250px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: #456BA7;
  transform: rotate(90deg) translate(4px, 8px);

  position: relative;
  opacity: 0.2;
  z-index: 14;
}

.hexagonProjectPartenaire{
  width: 225px;
  height: 216px;
  -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-color: white;
  padding: 20px;
  position: absolute;
  z-index: 15;
  transform: translate(-4px, -235px);
}