* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
      background-color: rgb(255, 255, 255);
      width: 100%;
      overflow-x: hidden !important;
      scroll-behavior: smooth;
  }


  .SAH{
    width: 100vw;
    height: 400vh;
    position: absolute;
    z-index: -1;
  }
 

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}


/* HOME PAGE */

  .waiter{
    background: no-repeat url('Assets/Maille.png'), rgb(255, 255, 255);

    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  .disapear{
    animation: disapear 2s;
    visibility: hidden;
  }

  @keyframes disapear{
    0%{
      visibility: visible;
      opacity: 1;
    }
    100%{
      opacity: 0;
      visibility: hidden;
    }
  }

  .waiter-title{
      position: absolute;
      top: 50%;
      left: calc(50% - 296px);
      color: rgb(0, 0, 0);
      font-family: Cybernetic;
      font-size: 2.5em;
  }

  .waiter p{
    color: rgb(0, 0, 0);
    font-size: 2em;
    line-height: 150px;
    font-family: 'Cybernetic';
    position: absolute;
    top: 55%;
    left: calc(50% - 460.5px);
  }

  .About{
    position: relative;
    z-index: 2;
    grid-row: 4;
    grid-column: 6 / 11;
  }

  .About p{
    font-size: 1.2em;
    font-family: 'Roboto';
    color: rgb(0, 0, 0);
    text-align: justify;
    
  }

  .About a{
    margin-top: 20px;
  }

  .About a:hover{
    color: rgb(4, 206, 199);
    border: solid 2px rgb(4, 206, 199);

  }

  #UselessBar{
    grid-column: 4 / 6;
    grid-row: 4;
    width: 12vw;
    height: 4px;
    background-color: #006579;
    transform: translate(15px, 20px);
  }
  

  .navbar{
    grid-column: 1 / 13;
    grid-row: 1;
    text-align: right;
    margin: 10px;
  }

  .navbar a,img{
    color: #174691;
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Roboto';
    margin-right: 50px;
    font-weight: bold;
  }

  .navbar a:hover{
    color: #03AFA8;
    border-bottom: solid;
  }

  .navbar img{
   height: 25px;
   width: 25px;
  }

  #LangDropdown:hover #LangDropdown-content{
    display: block;
  }

  #LangDropdown{
    position: relative;
    display: inline-block;
    transform: translate(0px, 6px);
  }

  #LangDropdown-content{
    display: none;
    position: absolute;
    left: -10px;
    width: 50px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1;
  }

  .LangDropdown-content{
    margin-bottom: 5px;
  }

  .LangDropdown-content:hover{
    opacity: 0.6;
  }

  #LangDropdown-content a:hover{    
    text-decoration: none;
  }

  #select{
    color: #03AFA8;
    border-bottom: solid;
  }

  .HexagonGroupHome1{
    grid-column: 3 / 4;
    grid-row: 4; 
    transform: translate(0px, -50px);
  }

  .HexagonGroupHome1 h3{
    color: white;
    font-family: 'Roboto';
    font-size: 2.3em;
    position: relative;
    font-weight: medium;
 
  }

  
  #MailleHome1{
    grid-column: 1 / 12;
    grid-row: 3 / 6;
    background-image: url('Assets/Maille.png');
    background-size: 95% auto;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    position: relative;
    z-index: 0;
    opacity: 0.6;
  }
  
  .Actuality{
    grid-column: 3 / 4;
    grid-row: 7;
  }

  .Actuality h2{
    font-family: 'Roboto';
    font-size: 2em;/*
     text-decoration: underline; */
    border-bottom: solid 2px #174691;
    color: #174691;
    /*transform: translateX(100px);*/
  }


 .LastActu{
   grid-column: 3 / 11;
   grid-row: 8 / 13;
   display: block;
 }

 .LastActu h3{
   color: #03AFA8;
   font-size: 1.8em;
   font-family: 'Roboto';
   padding: 10px;
 }

 .ActuDate{
  color: #03AFA8 !important;
 }

 .LastActu p{
   color: #BEBEBE;
   padding: 10px;
   font-family: 'Roboto';
   font-size: 1.1em;
 }

 .LastActu a{
   padding: 10px;
   color: #03AFA8;
   text-decoration: unset;
   font-family: 'Roboto';
   font-size: 1.2;
 }

 .ActuDate{
  color: #03AFA8
 }

 #LastActu1{
  width: 300px;
  height: 400px;
  background-color: rgba(23, 70, 145, 0.10);
  position: absolute;
}

#LastActu2{
  width: 300px;
  height: 400px;
  background-color: rgba(23, 70, 145, 0.10);
  position: absolute;
  left: 40%;
}

#LastActu3{
  width: 300px;
  height: 400px;
  background-color: rgba(23, 70, 145, 0.10);
  position: absolute;
  left: 65%;
}

#LastActu2 h3.longtitle, #LastActu3 h3.longtitle{
  font-size: 1.5em;
}

.More{
  color: #03AFA8;
  font-size: 1.4em;
  font-family: 'Roboto';
  border: solid 2px #03AFA8;
  border-radius: 5px;
  position: absolute;
  text-decoration: none;
  padding: 10px 30px 10px 30px;
}

  .ActuMore{
    grid-row: 12;
    grid-column: 5;
    text-align: center;
  }

  #MailleHome2{
    grid-column: 1 / 8;
    grid-row: 8 / 13;
    background-image: url('Assets/Maille2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.3;
    transform: scaleX(-1) translate(575px, -75px) rotate(-110deg);
    position: relative;
    z-index: 1;
  }

  .Partner{
    grid-row: 14;
    grid-column: 9 / 11;
  }

  .Partner h2{
    font-family: 'Roboto';
    font-size: 2em;/*
    text-decoration: underline; */
    color: #174691;
    border-bottom: solid 2px #174691;
    width: 10em;
    text-align: right;
    transform: translateY(50px);
  }


  #MailleHome3{
    background: url('Assets/Maille.png') 0 0 no-repeat;
    grid-column: 1 / 13;
    grid-row: 13 / 21;
    transform: rotate(10deg);
  }

  .HexagonGroupHome2{
    grid-row: 16;
    grid-column: 3 / 5;
    position: relative;
    transform: translateY(-75px);
  }

  .HexagonGroupHome3{
    grid-row: 17;
    grid-column: 6 / 7;
    position: relative;
    transform: translate(-75px, -75px);
  }

  .HexagonGroupHome4{
    grid-row: 16;
    grid-column: 9 / 11;
    position: relative;
    transform: translateY(-25px);
  }



























  /* PROJECT PAGE */

  #MailleProjet1{
    grid-column: 1 / 13;
    grid-row: 3 / 10;
    background-image: url('Assets/Maille2.png');
    background-repeat: no-repeat;
    background-size: auto 85%;
    opacity: 0.3;
    transform: scaleX(1) translate(0px, -65px);
    position: relative;
    z-index: 10;
  }

  #MailleProjet2{
    grid-column: 1 / 12;
    grid-row: 14 / 22;
    background-image: url('Assets/Maille2.png');
    background-repeat: no-repeat;
    background-size: auto 105%;
    opacity: 0.3;
    transform: translate(-250px 0px);
    position: relative;
    z-index: 10;
    float: left;
    transform: rotate(180deg);
  }

  #MailleProjet3{
    grid-column: 1 / 8;
    grid-row: 27 / 31;
    background-image: url('Assets/Maille2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.3;
    transform: scaleX(-1) translateX(575px) rotate(-110deg);
    position: relative;
    z-index: 1;
  }

  #MailleProjet4{
    grid-column: 1 / 13;
    grid-row: 33 /39;
    background-image: url('Assets/Maille2.png');
    background-repeat: no-repeat;
    background-size: 90% 90%;
    opacity: 0.3;
    transform: scaleX(-1) translate(-550px, 50px);
    position: relative;
    z-index: 1;
  }

 .HexagonGroupProject1{
    grid-column: 2 / 6;
    grid-row: 6;
  }
  
  .HexagonGroupProject1 h2{
    color: #174691;
    font-family: 'Roboto';
    font-size: 2.8em;
    position: relative;
    font-weight: medium;
    opacity: 0.9;
  }
 
  .description {
    background-color: #EFEFEF;
    grid-column: 1 / 13;
    grid-row: 8 / 15;
    position: relative;
  }

  #desc {
    grid-column: 4 / 10;
    grid-row: 9 / 14;
    z-index: 15;
    position: relative;
  }

  #desc h3 {
    color: #03AFA8;
    font-family: 'Roboto';
    font-size: 2.1em;
    font-weight: medium;
    text-decoration: underline;
    margin-bottom: 35px;
  }

  #desc p,li {
    color: #BEBEBE;
    font-family: 'Roboto';
    font-size: 1.3em;
    font-weight: medium;
    text-align: justify;
  }

  #desc p.descparag1 {
    margin-bottom: 65px;
  }

  #desc li {
    margin-bottom: 20px;
  }

  .HexagonGroupProject2{
    transform: translate(-275px, 0px);
    grid-column: 1 / 4;
    grid-row: 9;
  }

  .HexagonGroupProject2-1{
    transform: translate(0px, 500px);
    grid-column: 12;
    grid-row: 9;
  }

  h3.chiffres {
    color: #174691;
    font-family: 'Roboto';
    font-size: 2em;
    text-decoration: underline;
    grid-column: 9 / 13;
    grid-row: 22;
    transform: translate(0px, -650px);
    font-weight: medium;
    float: right;
  }

  .HexagonGroupProject3 {
    grid-column: 2 / 5;
    grid-row: 18 / 21;
  }

  .HexagonGroupProject3 h4 {
    font-family: 'Roboto';
    font-size: 2.2em;
    color: #006579;
    font-weight: medium;
  }

  .HexagonGroupProject3 p{
    font-family: 'Roboto';
    font-size: 1.4em;
    color: #000;
    font-weight: bold;
    text-align: center;
  }

  .HexagonGroupProject4 {
    grid-column: 6 / 9;
    grid-row: 20 / 23;
  }

  .HexagonGroupProject4 h4 {
    font-family: 'Roboto';
    font-size: 2.2em;
    color: #006579;
    text-align: center;
    font-weight: medium;
    margin-bottom: 15px;
  }

  .HexagonGroupProject4 p{
    font-family: 'Roboto';
    font-size: 1.3em;
    color: #000;
    font-weight: bold;
    text-align: center;
  }

  .HexagonGroupProject5 {
    grid-column: 10 / 13;
    grid-row: 17 / 20;
  }

  .HexagonGroupProject5 h4 {
    font-family: 'Roboto';
    font-size: 2.2em;
    color: #006579;
    text-align: center;
    font-weight: medium;
    margin-bottom: 20px;
  }

  .HexagonGroupProject5 p{
    font-family: 'Roboto';
    font-size: 1.4em;
    color: #000;
    font-weight: bold;
    text-align: center;
  }

  #equip {
    grid-column: 2 / 4;
    grid-row: 24;
    transform: translate(0px, 75px);
  }

  #equip h3 {
    color: #174691;
    font-family: 'Roboto';
    font-size: 2.1em;
    text-decoration: underline;
    float: left;
    font-weight: medium;
  }

  .HexagonGroupProject6 {
    grid-column: 2 / 4;
    grid-row: 26; 
  }

  #Marlene {
    grid-row: 26;
    grid-column: 5 / 11;
  }

  #Marlene h3 {
    color: #BEBEBE;
    font-size: 1.5em;
    font-family: 'Roboto';
    font-weight: bold;
  }

  #Marlene h4 {
    color: #BEBEBE;
    font-size: 1em;
    font-family: 'Roboto';
    font-weight: lighter;
  }

  #Marlene p {
    color: #BEBEBE;
    font-size: 1.2em;
    font-family: 'Roboto';
    font-weight: bold;
    text-align: justify;
  }

  .HexagonGroupProject7 {
    grid-column: 10 /12;
    grid-row: 29; 
  }

  #Jerome {
    grid-row: 29;
    grid-column: 3 / 9;
  }

  #Jerome h3 {
    color: #BEBEBE;
    font-size: 1.5em;
    font-family: 'Roboto';
    font-weight: bold;
    text-align: right;
  }

  #Jerome h4 {
    color: #BEBEBE;
    font-size: 1em;
    font-family: 'Roboto';
    font-weight: lighter;
    text-align: right;
  }

  #Jerome p {
    color: #BEBEBE;
    font-size: 1.2em;
    font-family: 'Roboto';
    font-weight: bold;
    text-align: justify;
    direction: rtl;
  }

  .HexagonGroupProject8 {
    grid-column: 2 / 4;
    grid-row: 32; 
  }

  #JeanChristophe {
    grid-row: 32;
    grid-column: 5 / 11;
  }

  #JeanChristophe h3 {
    color: #BEBEBE;
    font-size: 1.5em;
    font-family: 'Roboto';
    font-weight: bold;
  }

  #JeanChristophe h4 {
    color: #BEBEBE;
    font-size: 1em;
    font-family: 'Roboto';
    font-weight: lighter;
  }

  #JeanChristophe p {
    color: #BEBEBE;
    font-size: 1.2em;
    font-family: 'Roboto';
    font-weight: bold;
    text-align: justify;
  }

  #partenaires {
    background-color: #EFEFEF;
    grid-column: 1 / 13;
    grid-row: 36 / 40;
    position: relative;
    z-index: 5;
  }

   .HexagonGroupProject9{
    grid-column: 3 / 5;
    grid-row: 38;
  }

  .HexagonGroupProject10{
    grid-column: 6 / 8;
    grid-row: 38;
  }

  .HexagonGroupProject11{
    grid-column: 9 / 11;
    grid-row: 38;
    position: relative;
    float: right;
  }

  #partenaires h3 {
    color: #03AFA8;
    font-family: 'Roboto';
    font-size: 1.8em;
    font-weight: medium;
    text-decoration: underline;
    text-align: center;
    padding-top: 100px;
  }


































/*ACTUALITES*/

  #MailleActus1{
    grid-column: 1 / 13;
    grid-row: 3 / 12;
    background-image: url('Assets/Maille2.png');
    background-repeat: no-repeat;
    background-size: auto 85%;
    opacity: 0.3;
    transform: rotate(-5deg) scaleX(1) translate(35px, -65px);
    position: relative;
    z-index: 10;
  }

  #MailleActus2{
    grid-column: 1 / 13;
    grid-row: 14 / 22;
    background-image: url('Assets/Maille2.png');
    background-repeat: no-repeat;
    background-size: auto 105%;
    opacity: 0.3;
    transform: translate(-250px 0px);
    position: relative;
    z-index: 10;
    float: left;
    transform: rotate(165deg) translateX(45px);
  }

  .MoreActus{
    color: #03AFA8;
    font-size: 1.4em;
    font-family: 'Roboto';
    border: solid 2px #03AFA8;
    border-radius: 5px;
    position: absolute;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
  }

  .ActusMore{
    grid-row: 17;
    grid-column: 6 / 8;
    transform: translateX(25px);
  }

  .ActuDate{
    color: #03AFA8
   }

   #Actu1, #Actu4{
    width: 300px;
    height: 400px;
    background-color: rgba(23, 70, 145, 0.10);
    position: absolute;
    transform: translateX(50px);
    z-index: 5;
  }

  #Actu2, #Actu5{
    width: 300px;
    height: 400px;
    background-color: rgba(23, 70, 145, 0.10);
    position: absolute;
    left: 40%;
  }

  #Actu3, #Actu6{
    width: 300px;
    height: 400px;
    background-color: rgba(23, 70, 145, 0.10);
    position: absolute;
    left: 68%;
  }

  #Actu2 h3.longtitle, #Actu3 h3.longtitle{
    font-size: 1.5em;
  }



  /*--> Liste 1*/
  .ListActus1{
    grid-column: 2 / 12;
    grid-row: 8 / 13;
    display: block;
    z-index: 15;
  }

  .ListActus1 h3{
    color: #03AFA8;
    font-size: 1.8em;
    font-family: 'Roboto';
    padding: 10px;
  }

  .ListActus1 p{
    color: #BEBEBE;
    padding: 10px;
    font-family: 'Roboto';
    font-size: 1.2em;
  }

  .ListActus1 a{
    padding: 10px;
    color: #03AFA8;
    text-decoration: unset;
    font-family: 'Roboto';
    font-size: 1.2;
  }



  /*--> Liste 2*/

    .ListActus2{
     grid-column: 2 / 12;
     grid-row: 12 / 17;
     display: block;
   }

   .ListActus2 h3{
     color: #03AFA8;
     font-size: 1.8em;
     font-family: 'Roboto';
     padding: 10px;
   }

   .ListActus2 p{
     color: #BEBEBE;
     padding: 10px;
     font-family: 'Roboto';
     font-size: 1.1em;
   }

   .ListActus2 a{
     padding: 10px;
     color: #03AFA8;
     text-decoration: unset;
     font-family: 'Roboto';
     font-size: 1.2;
   }







































/*EN IMAGE*/

  #MailleCategories1{
    grid-column: 1 / 13;
    grid-row: 3 / 12;
    background-image: url('Assets/Maille2.png');
    background-repeat: no-repeat;
    background-size: auto 85%;
    opacity: 0.3;
    transform: rotate(-5deg) scaleX(1) translate(35px, -65px);
    position: relative;
    z-index: 10;
  }

  #MailleCategories2{
    grid-column: 1 / 13;
    grid-row: 14 / 22;
    background-image: url('Assets/Maille2.png');
    background-repeat: no-repeat;
    background-size: auto 105%;
    opacity: 0.3;
    transform: translate(-250px 0px);
    position: relative;
    z-index: 10;
    float: left;
    transform: rotate(165deg) translateX(45px);
  }

   #Categorie1, #Categorie3, #Categorie5{
    width: 38vw;
    height: 10vh;
    border-radius: 3px;
    position: absolute;
    z-index: 15;
    left: 10vw;
    border-radius: 10px;
  }

  #Categorie2, #Categorie4, #Categorie6{
    width: 38vw;
    height: 10vh;
    position: absolute;
    z-index: 15;
    right: 10vw;
    border-radius: 10px;
  }

  #Categorie1 a:hover, #Categorie2 a:hover, #Categorie3 a:hover, #Categorie4 a:hover, #Categorie5 a:hover, #Categorie6 a:hover{
  	opacity: 0.8;
  	transition: 0.25s ease-in-out;
  }

  #Categorie1 a, #Categorie2 a, #Categorie3 a, #Categorie4 a, #Categorie5 a, #Categorie6 a{
  	transition: 0.25s ease-in-out;
  }

  #Categorie1, #Categorie2, #Categorie3, #Categorie4, #Categorie5, #Categorie6{
    display: block;
    padding: 35px;
  }

  /*--> Liste 1*/
  .ListCategories1{
    grid-column: 2 / 12;
    grid-row: 8;
    display: block;
    z-index: 15;
  }

  /*--> Liste 2*/

    .ListCategories2{
     grid-column: 2 / 12;
     grid-row: 11;
     display: block;
   }


  /*--> Liste 3*/

    .ListCategories3{
     grid-column: 2 / 12;
     grid-row: 14;
     display: block;
   }



































/*CONNEXION*/

  .HexagonGroupConnect{
    grid-column: 5 / 8;
    grid-row: 3;
    transform: translate(10px, -75px);
  }
  .HexagonGroupConnect{
    color: #174691;
    font-family: 'Roboto';
    font-size: 1.8vw;
    position: relative;
    font-weight: medium;
    opacity: 0.9;
  }

  #connection{
    grid-column: 5 / 9;
    grid-row: 4 / 6;
    background-color: #EFEFEF;
    opacity: 0.6;
    border: 2px solid #03AFA8;
    border-radius: 10px;
    z-index: 1;
    transform: translateY(-75px);
  }

  input[type=text], input[type=password]{
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 20vW;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #03AFA8;
    padding: 10px;
    color: #423e68;
    font-size: 16px;
  }

  input[type=password]{
    margin-top: 30px;
  }

  input[type=submit]{
    display: block;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 35px;
    width: 11vw;
    height: 40px;
    background-color: #03AFA8;
    border: none;
    color: #FEFEFE;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.1em;
  }

  input[type=submit]:hover{
    cursor: pointer;
  }


































/*ADMINISTRATEUR*/

  #MailleAdmin{
    grid-column: 3 / 10;
    grid-row: 3;
    background-image: url('Assets/Maille.png');
    background-repeat: no-repeat;
    background-size: auto 15vw;
    opacity: 0.65;
    transform: rotate(-5deg) scaleX(-1) translate(2.5vw, -85px);
    position: relative;
  }

  .HexagonGroupAdmin{
    grid-column: 5 / 9;
    grid-row: 3;
    transform: translate(0px, -75px);
  }
  .HexagonGroupAdmin{
    color: #174691;
    font-family: 'Roboto';
    font-size: 1.8vw;
    position: relative;
    font-weight: medium;
    opacity: 0.9;
  }

  #AdminbtnCreate{
    transform: translate(8.25vw, 450px);
    position: absolute;
    font-size: 1.3vw;
    width: 10vw;
    padding: 0.5vw;
    min-height: 1.5vw;
    background-color: #03AFA8;
    color: white;
    font-family: 'Roboto';
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.1s ease-in-out;
  }

  #AdminbtnCreate:hover{
    background-color: #008F88;
    transition: 0.1s ease-in-out;
    cursor: pointer;
  }

  #AdminList{
    grid-column: 2 / 12;
    grid-row: 5;
    z-index: 35;
  }

  h3.listadmin{
    grid-column: 2 / 12;
    grid-row: 5;
    font-size: 2vw;
    color: #174691;
    font-family: 'Roboto';
    opacity: 0.9;
  }

  #AdminActu{
    display: inline-block;
    margin-top: 100px;
  }

  #AdminActu img{
    float: left;
    border-radius: 3px;
  }

  #AdminActu h3{
    color: #03AFA8;
    font-weight: medium;
    font-size: 1.75vw;
    font-family: 'Roboto';
    margin-bottom:20px;
  }

  #AdminActu p{
    color: #BEBEBE;
    font-weight: medium;
    font-size: 1.25vw;
    font-family: 'Roboto';
    text-align: justify;
    margin-bottom: 20px;
  }

  #AdminActu a{
    color: #03AFA8;
    text-decoration: unset;
    font-family: 'Roboto';
    font-size: 1.2;
    transition: 0.1s ease-in-out;
  }

  #AdminActu a:hover{
    color: #008F88;
    transition: 0.1s ease-in-out;
  }

  #Controles{
    grid-column: 2 / 11;
    transform: translate(0, 15px);
  }

  #Controles a.AdminbtnModif{
    transform: translate(-32.15vw, 40px);
    padding: 0.5vw 1vw;
    background-color: rgba( 23, 70, 145, 0.9);
    font-family: 'Roboto';
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.1s ease-in-out;
  }

  #Controles a.AdminbtnModif:hover{
    background-color: rgba( 23, 70, 145, 0.8);
  }

  #Controles a.AdminbtnSupp{
    transform: translate(-22vw, 40px);
    padding: 0.5vw 0.5vw;
    background-color: rgba( 200, 35, 35, 0.9);
    font-family: 'Roboto';
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.1s ease-in-out;
  }

  #Controles a.AdminbtnSupp:hover{
    background-color: rgba( 200, 35, 35, 0.75);
  }







































/*EDITION ARTICLE*/

  #Return{
    position: absolute;
    transform: translate(10px, 12.5px);
    font-size: 1.2vw;
    width: 7vw;
    padding: 0.4vw;
    min-height: 1.5vw;
    background-color: #174691;
    color: white;
    font-family: 'Roboto';
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.1s ease-in-out;
  }

  #Return:hover{
    opacity: 0.8;
    transition: 0.1s ease-in-out;
  }

  #Edition{
    grid-column: 3 / 11;
    grid-row: 4;
  }

  #Edition input[type=text]{
    width: 65.5vw;
    color: #174691;
    font-weight: bold;
  }

  #Edition textarea{
    border-radius: 5px;
    margin-top: 50px;
  }

  #Edition textarea::placeholder, #Edition input[type=text]::placeholder{
    color: #aaa;
  }

  #Edition input[type=submit]{
    margin-top: 75px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
  }

  #Edition input[type=submit]:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
  }

  #Edition input[type=date]{
    margin-top: 50px;
    width: 65.5vw;
    height: 35px; 
    color: #174691;
    font-weight: bold;
    border: 1px solid #03AFA8;
    border-radius: 5px;
  }









































/*TEMOIGNAGE*/

  #MailleTemoignage1{
    grid-column: 1 / 13;
    grid-row: 3 / 10;
    background-image: url('Assets/Maille2.png');
    background-repeat: no-repeat;
    background-size: auto 65%;
    opacity: 0.3;
    transform: scaleX(1) translate(0px, -65px);
    position: relative;
    z-index: 10;
  }

  .HexagonGroupTemoignage1{
    grid-row: 6;
  }


  #connexion{
    grid-column: 4 / 10;
    grid-row: 7;
    z-index: 25;
  }

  #Temoignage input[type=text], input[type=mail], input[type=tel]{
    display: block;
    margin: auto;
    margin-top: 40px;
    width: 100%;
    height: 50px;
    background-color: transparent;
    border-radius: 0px;
    border: none;
    border-bottom: 3px solid rgba(3, 175, 168, 0.6);
    padding: 10px;
    padding-left: 50px;
    color: #423e68;
    font-size: 18px;
  }

  #Temoignage textarea{
    margin-top: 100px;
    padding-top: 50px;
  }

  #Temoignage label{
    display: block;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 10px;
    color: #423e68;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto';
  }

  #Temoignage input[type=file], textarea{
    display: block;
    margin: auto;
    min-width: 100%;
    min-height: 150px;
    max-width: 100%;
    background-color: #EFEFEF;
    border-radius: 0px;
    border: none;
    padding: 10px;
    color: #423e68;
    font-size: 18px;
    font-family: 'Roboto';
  }

  #Temoignage input[type=file]{
    min-height: 50px;
  }

  #Temoignage input[type=submit]{
    display: block;
    margin: auto;
    margin-top: 100px;
    width: 14vw;
    height: 6vh;
    background-color: white;
    border: 2px solid #174691;
    color: #174691;
    font-weight: bold;
    border-radius: 3px;
    padding: 5px;
    font-size: 1.1em;
    transition: 0.3s ease-in-out;
  }

  #Temoignage input[type=submit]:hover{
    opacity: 0.65;
    transition: 0.2s ease-in-out;
  }

  #Icons {
    grid-column: 4;
    grid-row: 7;
    z-index: 24;
    transform: translate(10px, 45px);
  }

  #Icons img{
    display: block;
    margin-bottom: 60px;
  }

  img.iconmsg{
    grid-column: 4 / 10;
    grid-row: 7;
    padding-right: 42vw;
    padding-top: 9px;
    margin-bottom: 100px;
    background-color: #EFEFEF;
    transform: translate(10px, 460px);
    z-index: 26;
  }

/*    img.iconupload{
    grid-column: 4 / 10;
    grid-row: 7;
    padding-right: 45vw;
    margin-bottom: 100px;
    background-color: #EFEFEF;
    transform: translate(10px, 720px);
    z-index: 26;
  }*/

  #Infos{
    grid-column: 4 / 10;
    grid-row: 9;
    text-align: center;
  }

  #Infos h3{
    color: #BEBEBE;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto';
    transform: translateY(-35px);
  }

  #Infos a{
    text-decoration: none;
    color: #BEBEBE;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto';
    transform: translateY(-50px);
    margin-top: 25px;
    transition: 0.2s ease-in-out;
    z-index: 30;
  }

  #Infos a:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
  }

  #Temoignage ::placeholder{
    opacity: 0.4;
  }
































/*FOOTER*/


































  /* Glitch Effect */

  .glitch{
      line-height: 0px;
  }

  .glitch h1:nth-child(2) {
    display: none;
    color: #4c78c0;
  }

  .glitch h1:nth-child(3) {
    display: none;
    color: #313131;
  }

  .glitch > h1:nth-child(1){
    display: block;
    animation: glitch1 2.5s infinite;
  }


  .glitch > h1:nth-child(2){
    display: block;
    animation: glitch2 2.5s infinite;
  }

  .glitch >  h1:nth-child(3){
    display: block;
    animation: glitch3 2.5s infinite;
  }

  @keyframes glitch1 {
    0% {
      transform: none;
      opacity: 1;
    }
    7% {
      transform: skew(-0.5deg, -0.9deg);
      opacity: 0.75;
    }
    10% {
      transform: none;
      opacity: 1;
    }
    27% {
      transform: none;
      opacity: 1;
    }
    30% {
      transform: skew(0.8deg, -0.1deg);
      opacity: 0.75;
    }
    35% {
      transform: none;
      opacity: 1;
    }
    52% {
      transform: none;
      opacity: 1;
    }
    55% {
      transform: skew(-1deg, 0.2deg);
      opacity: 0.75;
    }
    50% {
      transform: none;
      opacity: 1;
    }
    72% {
      transform: none;
      opacity: 1;
    }
    75% {
      transform: skew(0.4deg, 1deg);
      opacity: 0.75;
    }
    80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: none;
      opacity: 1;
    }
  }

  @keyframes glitch2 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(-2px, -3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(-5px, -2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(-5px, -1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(-2px, -6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }

  @keyframes glitch3 {
    0% {
      transform: none;
      opacity: 0.25;
    }
    7% {
      transform: translate(2px, 3px);
      opacity: 0.5;
    }
    10% {
      transform: none;
      opacity: 0.25;
    }
    27% {
      transform: none;
      opacity: 0.25;
    }
    30% {
      transform: translate(5px, 2px);
      opacity: 0.5;
    }
    35% {
      transform: none;
      opacity: 0.25;
    }
    52% {
      transform: none;
      opacity: 0.25;
    }
    55% {
      transform: translate(5px, 1px);
      opacity: 0.5;
    }
    50% {
      transform: none;
      opacity: 0.25;
    }
    72% {
      transform: none;
      opacity: 0.25;
    }
    75% {
      transform: translate(2px, 6px);
      opacity: 0.5;
    }
    80% {
      transform: none;
      opacity: 0.25;
    }
    100% {
      transform: none;
      opacity: 0.25;
    }
  }


  /* Custom Font  Cybernetic */

  @font-face {
    font-family: 'Cybernetic';
    src: url('../font/OCRAStd.woff2') format('woff2'),
        url('../font/OCRAStd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}