* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
      background-color: rgb(255, 255, 255);
      width: 100%;
      /* overflow: hidden; */
      overflow-x: hidden !important;
  }


  #UselessBar{
    grid-column: 4 / 7;
    grid-row: 4;
    width: 350px;
    height: 4px;
    background-color: #006579;
    transform: translate(15px, 20px);
  }
  

  .HexagonGroup1{
    grid-column: 3 / 9;
    grid-row: 4; 
    transform: translate(0px, 300px);
  }

  .HexagonGroup1 h1{
    color: #456AA6;
    font-family: 'Roboto';
    font-size: 3em;
    position: relative;
    font-weight: bold;
 
  }

  
  #Maille1{
    grid-column: 1 / 13;
    grid-row: 2 / 11;
    background-image: url('Assets/Maille2.png');
    background-repeat: no-repeat;
    background-size: 115% 120%;
    opacity: 0.5;
    transform: scaleX(1) translateX(0);
    position: relative;
    z-index: 10;
  }



  /*DESCRIPTION*/

  #desc {
    background-color: #EFEFEF;
    grid-column: 1 / 13;
    grid-row: 10 / 16;
    z-index: 15;
  }

  #desc p {
    color: #BEBEBE;
    font-family: 'Roboto';
    font-size: 1.4em;
    font-weight: bold;
    text-align: justify;
  }

  .descrption {
    grid-column: 4 / 9;
    grid-row: 10 / 16;
    background-color: blue;
  }

  #desc h2 {
    grid-column: : 4 / 7;
    grid-row: 12;
    color: #03AFA8;
    font-family: 'Roboto';
    font-size: 2.5em;
    font-weight: medium;
    text-decoration: underline;
  }






  /* Custom Font  Cybernetic */

  @font-face {
    font-family: 'Cybernetic';
    src: url('../font/OCRAStd.woff2') format('woff2'),
         url('../font/OCRAStd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }